<a href="https://colab.research.google.com/github/yebisaeng/2025.math/blob/main/3%EC%9E%A5_%EC%A7%91%ED%95%A9_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
print("Hello World!")

Hello World!

In [8]:
s1=set([1,2,3])
print(s1)

s2=set([2,3,4])
print(s2)
print()
print(s1 & s2)
print(s1 | s2)
print(s1 - s2)

{1, 2, 3}
{2, 3, 4}

{2, 3}
{1, 2, 3, 4}
{1}

In [11]:
bankA_c = set(["김철수","이영희","박민수","최지우"])
bankB_c = set(["이영희","최지우","정우성","한지민"])

print("은행 A 고객: ",bankA_c)
print("은행 B 고객: ",bankB_c)

tot_c = bankA_c | bankB_c
print("합병 후 전체 고객:", tot_c)

com_c = bankA_c & bankB_c
print("공통 고객:", com_c)

onlyA_c = bankA_c - bankB_c
print("A 은행에만 있는 고객:", onlyA_c)

onlyB_c = bankB_c - bankA_c
print("B 은행에만 있는 고객:", onlyB_c)

은행 A 고객:  {'박민수', '이영희', '김철수', '최지우'}
은행 B 고객:  {'정우성', '이영희', '최지우', '한지민'}
합병 후 전체 고객: {'정우성', '이영희', '김철수', '박민수', '최지우', '한지민'}
공통 고객: {'이영희', '최지우'}
A 은행에만 있는 고객: {'박민수', '김철수'}
B 은행에만 있는 고객: {'정우성', '한지민'}